/* https://colorhunt.co/palette/3db2ffffeddaffb830ff2442 */


		/* Tile section */
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html{
    font-size: 62.5%;
   }

body{
    font-family: 'Roboto', sans-serif;
    background-image: radial-gradient(circle, #67a5ee, #5596e2, #4287d6, #2c79ca, #086bbe);
   } 

nav{
    background-color: transparent;
    padding-top: 1.3rem;
    padding-bottom: 1.3rem;
    width: 100%;
	display: flex;
	justify-content: space-between;
     color: white;
	/* transition: 0.2s; */
	position: fixed;
/*  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

.floatingNav {
    /* background-color: #117ace!important; */
    background: rgb(17,122,206);
    background: linear-gradient(282deg, rgba(17,122,206,1) 0%, rgba(17,122,206,0.742734593837535) 41%, rgba(17,122,206,0.938813025210084) 68%, rgba(17,122,206,1) 100%);
    border-radius: 2px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
  }

a{
	text-decoration: none;
	color: #312f2f;
}

nav .brand{
	padding-left: 0.2rem;
    margin-left: 3rem;
	font-size: 4.5rem;
	color: white;
    opacity: 1;

}

.sign {
     margin-top: auto;
	margin-bottom: auto;
    margin-right: 3.2rem;
    background-color:transparent;
    border-radius:28px;
    border:2px solid white;
    display:inline;
    cursor:pointer;
    color:white;
    font-family:Arial;
    font-size: 1.2rem;
    padding:1.3rem 3.1rem;
    text-decoration:none;
    float: right;

}

.sign:hover {
    background-color:white;
    color:#117ace ;
}

.sign:active {
    position:relative;
    top:0.1rem;

}

 /*************** title SECTION *********************/
    
#title{
    background-image: url("https://raw.githubusercontent.com/Rajvinder2171/animeTest/main/PicsArt_10-20-10.55.24.png");
    background-repeat: no-repeat;
    background-size: 55rem;
    background-position-x: 12rem;
    background-position-y: 11rem; 
    border-bottom: 2px solid black;
    padding-top: 0.2rem;
    padding-bottom: 22.7rem;
	font-family: sans-serif;
	justify-content: space-between;
    display: flex;
    width: auto;
    color: white;
}


#title h1  {
    font-size: 5.6rem;
	margin: auto;
    color: white;
    
 
  
}

#title p{
    font-size: 3rem;
	margin: auto;
    color: white;
    
 
  
}

#title button{
    font-size: 3.1rem;
    padding: 0.5rem 2.1rem;
    border-radius:2.8rem;
    margin-left: 0rem;
    margin-top: 2.2rem;
    border: 2px solid gray;
    background-color: #c91e40 ;
    border: 1px solid black;
    color: white;

   }

#title button:hover{
    box-shadow: 0 4px 8px 0 rgb(116, 13, 13), 0 6px 20px 0 rgb(194, 28, 28);

   }

   #title .button:active {
    position:relative;
    top:1px;
    }


 .title-text{
    margin-top: 16rem;
    padding-top: 20rem;
    margin-left: auto;
    margin-right:7rem;
    width: 74rem; 
    display: inline-block;
    
   }

      /************* SCREEN MEDIA *************/

@media only screen and (max-width: 1340px) {
            
    .title-text{
    margin-left: 66rem;
    }

    #title h1 {
    font-size: 5rem;
    }

    }


@media only screen and (max-width: 1120px) {
         
    #title{
    background-position-x: center;
    background-size: 40rem;
    padding-bottom: 19.7rem;
    background-position-y: 10rem; 
       
    }

    #title h1 {
     font-size: 4rem;
    }

    .title-text{
    text-align: center;
    margin-top: 49rem;
    margin-left: auto;
    margin-right: auto;   
    width: 53rem;
    display: inline-block;
    padding-top: 0;
 
    }


    #title button{
    text-align: center;
    }

}

   
@media only screen and (max-width: 998px) {

    html{
    font-size: 55%;
     }
    #title{  
    text-align: center;
    background-size: 40rem;
    background-position-y: 16rem;
                 
    }

        

    .title-text{
    margin-top: 49rem;
     margin-left: auto;
    margin-right: auto;   
    width: 53rem;
    display: inline-block;
    padding-top: 0;
          
    }

    .sign{
    font-size: 2.2rem;
    }
    
    }
    @media only screen and (max-width: 760px) {
     #title p{
         font-size: 2rem;
     }
   
    }


@media only screen and (max-width: 469px) {
    nav {    
    padding-top: 2.3rem;
    padding-bottom: 2.3rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
    position: absolute;
    }

    nav .brand{
    font-size: 2.6rem;
    margin-top: 0.5rem;
    }

    .floatingNav {
    background-color: transparent;
    }

    #title{
    padding-bottom: 11rem;
    background-size: 33rem;
    background-position-y: 22rem;
    }

    .title-text{
    width: 36rem;
    }

    #title h1{
    font-size: 3rem;
    }

    #title button{
    font-size:2rem ;
    }

    .sign{
    font-size: 1.4rem;
    }

}

@media only screen and (max-width: 322px) {
   

    .title-text{
    width: 32rem;
    }

     
    .sign{
    font-size: 1rem;

    }

   nav .brand{
    font-size:2.3rem ;
    }

}

@media only screen and (max-width: 282px) {
      
    .title-text{
    width: 23rem;
    }
     
    .sign{
    font-size: 1rem;

    }

   nav .brand{
    font-size:1.9rem ;
    }

}



    /*****************SECOND SECTION***********/
    /*****************VIDEO SECTION************/


    #secondSection{
    background-color:#FEF9EF ;
    text-align: center;
    justify-content: center;
    padding: 7rem 1rem 7rem 1rem;
    border-bottom: 1px solid black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
  
    }

    #secondSection .text-container{
    color: black;
    display: inline-block;
    border-radius: 20px 20px 0px 0px;
    }
  
    #secondSection h1{
    font-size: 3.5rem;
    
    }

    #secondSection p{
    font-size: 2rem;
    margin-top: 1rem;
    }

    #secondSection .slider{
    padding-top: 4rem;
    text-align: center;
    overflow-x: hidden;
    border: none;
     
    }

  

    #secondSection .moreBtn{
    box-shadow: 0px 10px 14px -7px #646768;
    background:transparent;
    background-color:transparent;
    border-radius:26px;
    border: 2px solid black;
    display:inline-block;
    cursor:pointer;
    color:black;
    font-family:Arial;
    font-size:20px;
    font-weight:bold;
    padding:13px 32px;
    text-decoration:none;
    text-shadow:0px 1px 0px #3d768a;
    margin-top: 6rem;
    }

    #secondSection .moreBtn:hover {
    background:linear-gradient(to bottom, #0d0d0e 5%, #111111 100%);
    color: white;
    
    }

    #secondSection .moreBtn:active {
    position:relative;
    top:1px;
    }
    


    @media only screen and (max-width: 500px) {
        #secondSection h1{
        font-size: 3rem;
            
        }

        #secondSection p{
        font-size: 1.8rem;
        }

        #secondSection .moreBtn{
        margin-top: 1rem;
        }


    }

    @media only screen and (max-width: 340px) {
      #secondSection .slider{
          height: 53rem;
      }

    }
 /*********************** THIRD SECTION ***************************
 ************************ TV SECTION ***************************** */

 #thirdSection{
     background-color: #F8C000;
     padding: 7rem 0 4rem 0;
     text-align: center;
     overflow-x: hidden;
 }

 .third-Header h1{
   font-size: 3.5rem;

 }

 .third-Header p {
     font-size: 1.5rem;
     margin-top: 2rem;
     color: rgb(82, 78, 78);
     margin-bottom: 2rem;
 }

#thirdSection .tv-image1{
    width: 190rem;
    margin-left: -16rem;
    margin-top: -9rem;
}

#thirdSection .tv-image2{
    display: none;
}

#thirdSection .third-btn{
    box-shadow: 0px 10px 14px -7px #555858;
    background:transparent;
    background-color:transparent;
    border-radius:26px;
    border: 2px solid black;
    display:inline-block;
    cursor:pointer;
    color:black;
    font-family:Arial;
    font-size:20px;
    font-weight:bold;
    padding:13px 32px;
    text-decoration:none;
    text-shadow:0px 1px 0px #3d768a;
    margin-top: 6rem;
}

#thirdSection .third-btn:hover {
    background:linear-gradient(to bottom, #0d0d0e 5%, #0d0d0e 100%);
   
    color: white;
    }

.third-btn:active {
    position:relative;
    top:1px;
    }

    @media only screen and (max-width: 1108px) {

        #thirdSection .tv-image1{
           width: fit-content;
        }
    }

    @media only screen and (max-width: 908px) {

        #thirdSection .tv-image1{
          display: none;
        }

        #thirdSection .tv-image2{
            display: block;
            text-align: center;
            margin: auto;
        }
    }

    @media only screen and (max-width: 908px) {
        #thirdSection .tv-image2{
        width: 80%;
        }    
    }

    @media only screen and (max-width: 500px) {

        .third-Header h1{
            font-size: 3rem;
        }

        .third-Header p {
            padding: 0 1rem 0 1rem;
        }


    }
    @media only screen and (max-width: 460px) {
        .third-Header h1{
            font-size: 2.8rem;
        }
        .third-Header p {
        justify-content: left;
        }
      
  
    }


    /* *************            FOOOTER SECTIOB             *********************
       **************           fourth section             ******************** */


    #footer-section{
        background-color: white;
        padding: 4rem 1rem 3rem 1rem;
        text-align: center;

    }

    #footer-section .footer-line{
     padding-bottom: 3rem;
    }

    #footer-section .footer-line a{
        font-size: 1.3rem;
        margin-right: 4rem;
        text-align: center;
        display: inline;
        color: gray;
        padding-top: 1rem;
        line-height: 2;
    }

    #footer-section #footer-logo{
        font-size: 2rem;
        font-weight: bolder;
    }

    #footer-section .icon-group{
        font-size: 2rem;
        font-weight: lighter;
        color: gray;
    }

    .copyright-text{
        padding-top: 1rem;
        color: gray;
        line-height: 1.9;
        
    }

    @media only screen and (max-width: 720px) {
     
    #footer-section #footer-logo{
     display: block;
    }

}
