/* https://colorhunt.co/palette/ffdadadbf6e99ddfd331326f */


		/* Tile section */
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

   html{
       font-size: 62.5%;
   }

   body{
    font-family: 'Roboto', sans-serif;
    background-image: radial-gradient(circle, #67a5ee, #5596e2, #4287d6, #2c79ca, #086bbe);
   } 

nav{
    background-color: transparent;
    padding-top: 1.3rem;
    padding-bottom: 1.3rem;
  

    width: 100%;
	display: flex;
	justify-content: space-between;
     color: white;
	/* transition: 0.2s; */
	position: fixed;
/*       
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  
   /* width: 100%; */
  
}

.floatingNav {
    
    background-color: #117ace!important;
    border-radius: 2px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
  }

a{
	text-decoration: none;
	color: #312f2f;
}

nav .brand{
	padding-left: 0.2rem;
    margin-left: 3rem;
	font-size: 4.5rem;
	color: white;
}



    .sign {
        margin-top: auto;
		margin-bottom: auto;
        margin-right: 3.2rem;
        background-color:transparent;
        border-radius:28px;
        border:2px solid white;
        display:inline;
        cursor:pointer;
        color:white;
        font-family:Arial;
        font-size: 1.2rem;
        padding:1.3rem 3.1rem;
        text-decoration:none;
        float: right;
    }
    .sign:hover {
        background-color:white;
        color:#117ace ;
    }
    .sign:active {
        position:relative;
        top:0.1rem;
    }

	           /*************** title SECTION *********************/
    
#title{
    /* background-image: radial-gradient(circle, #67a5ee, #5596e2, #4287d6, #2c79ca, #086bbe); */

    /* background-color: #FFDADA  ; */

    background-image: url("shadow.png");
    background-repeat: no-repeat;
    background-size: 55rem;
    background-position-x: 12rem;
    background-position-y: 11rem;
    
    border-bottom: 2px solid black;
    padding-top: 0.2rem;
    padding-bottom: 19.7rem;
	/* box-sizing: border-box; */
	font-family: sans-serif;
 
	justify-content: space-between;
    display: flex;
    width: auto;
    color: white;
}


#title h1 , h2 {
    font-size: 5.6rem;
	margin: auto;
 
  
}

   #title button{
       font-size: 3.1rem;
       padding: 0.5rem 2.1rem;
       border-radius:2.8rem;
    margin-left: 0rem;
    margin-top: 2.2rem;
    border: 2px solid gray;
    /* border-style: inset; */
    /* box-shadow: 0 4px 8px 0 rgb(214, 171, 171), 0 6px 20px 0 rgb(206, 176, 176); */
    background-color: #dc3c4d    ;
    color: white;
   }

 
   #title button:hover{
    box-shadow: 0 4px 8px 0 white, 0 6px 20px 0 white;
   }


.title-text{
      margin-top: 16rem;
      padding-top: 20rem;
       margin-left: auto;
       margin-right:7rem;
       width: 74rem;
      
      
       display: inline-block;
    
   }

      /************* SCREEN MEDIA *************/

      @media only screen and (max-width: 1340px) {
            
        .title-text{
         margin-left: 66rem;
        }

        #title h1 , h2{
            font-size: 5rem;
        }

      }


@media only screen and (max-width: 1120px) {
         
    #title{
        background-position-x: center;
        background-size: 40rem;
       
    }

    #title h1 , h2{
     font-size: 4rem;
    }

    .title-text{
       text-align: center;
        margin-top: 49rem;
        margin-left: auto;
        margin-right: auto;   

        width: 53rem;
        display: inline-block;
        padding-top: 0;

     
    }


    #title button{
        text-align: center;
    }

}

   
@media only screen and (max-width: 998px) {

     html{
         font-size: 55%;
     }
         #title{
            
             text-align: center;
             background-size: 40rem;
             background-position-y: 16rem;
             
            
         }

        

        .title-text{
           
            margin-top: 49rem;
            margin-left: auto;
            margin-right: auto;   

            width: 53rem;
            display: inline-block;
            padding-top: 0;

          
        }

        .sign{
            font-size: 2.2rem;
        }
    
    }
    

    @media only screen and (max-width: 469px) {
        nav {
         
            padding-top: 2.3rem;
            padding-bottom: 2.3rem;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
            position: absolute;


        }

        nav .brand{
            font-size: 3.6rem;
           margin-top: 0.5rem;
        }

        .floatingNav {
          background-color: transparent;
        }

        #title{
            padding-bottom: 11rem;
            background-size: 33rem;
            background-position-y: 22rem;
        }

        .title-text{
            width: 36rem;
        }

        #title h1 , h2 {
            font-size: 3rem;
        }

       

    
        #title button{
            font-size:2rem ;
        }

        .sign{
            font-size: 1.4rem;
        }


    }
    @media only screen and (max-width: 322px) {
   

    .title-text{
        width: 32rem;
    }

     
    .sign{
        font-size: 1rem;

    }

   nav .brand{
        font-size:2.9rem ;
    }

    }
    @media only screen and (max-width: 282px) {
      
        .title-text{
            width: 23rem;
        }

         
    .sign{
        font-size: 1rem;

    }

   nav .brand{
        font-size:1.9rem ;
    }

    }



    /*****************SECOND SECTION***********/
    /*****************VIDEO SECTION************/


    #secondSection{
        background-color: white;
        padding-top: 7rem;
        text-align: center;
        justify-content: center;
    }

    #secondSection h1{
        font-size: 3.5rem;
    }

    #secondSection h3{
        font-size: 3rem;
    }

    .slider{
    margin-top: 5rem;
    border: none;
        
    }

    .moreBtn{
        box-shadow: 0px 10px 14px -7px #276873;
        background:transparent;
        background-color:transparent;
        border-radius:26px;
        border: 2px solid black;
        display:inline-block;
        cursor:pointer;
        color:black;
        font-family:Arial;
        font-size:20px;
        font-weight:bold;
        padding:13px 32px;
        text-decoration:none;
        text-shadow:0px 1px 0px #3d768a;
    }
    .moreBtn:hover {
        background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
        background-color:#408c99;
    }
    .moreBtn:active {
        position:relative;
        top:1px;
    }
    
