/* https://colorhunt.co/palette/ffdadadbf6e99ddfd331326f */


		/* Tile section */
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

   html{
       font-size: 62.5%;
   }

   body{
    font-family: 'Roboto', sans-serif;
   } 

nav{
    background-color: transparent;
    padding-top: 1.3rem;
    padding-bottom: 1.3rem;
  

    width: 100%;
	display: flex;
	justify-content: space-between;
     color: white;
	/* transition: 0.2s; */
	position: fixed;
/*       
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  
   /* width: 100%; */
  
}

.floatingNav {
    
    background-color: #117ace!important;
    border-radius: 2px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
  }

a{
	text-decoration: none;
	color: #312f2f
	;
}

nav .brand{
	padding-left: 0.2rem;
    margin-left: 3rem;
	font-size: 4.5rem;
	color: white;
}



    .sign {
        margin-top: auto;
		margin-bottom: auto;
        margin-right: 3.2rem;
        background-color:transparent;
        border-radius:28px;
        border:2px solid white;
        display:inline;
        cursor:pointer;
        color:white;
        font-family:Arial;
        font-size: 1.2rem;
        padding:1.3rem 3.1rem;
        text-decoration:none;
        float: right;
    }
    .sign:hover {
        background-color:white;
        color:#117ace ;
    }
    .sign:active {
        position:relative;
        top:0.1rem;
    }

	

    .title-img{
    width: 49rem;
    float: left;
    margin-left: 9rem;
    margin-top: 11.4rem;
	
    }
    
#title{
    background-image: radial-gradient(circle, #67a5ee, #5596e2, #4287d6, #2c79ca, #086bbe);

    /* background-color: #FFDADA  ; */
    
    border-bottom: 2px solid black;
    padding-top: 0.2rem;
    padding-bottom: 2.7rem;
	/* box-sizing: border-box; */
	font-family: sans-serif;
    background-size: contain;
	justify-content: space-between;
    display: flex;
    width: auto;
    color: white;
}


#title h1{
    font-size: 5.6rem;
	margin: auto;
 
  
}

#title h2{
    font-size: 5.6rem;
    margin: auto;
    
    
}
   #title button{
       font-size: 3.1rem;
       padding: 0.5rem 2.1rem;
       border-radius:2.8rem;
    margin-left: 0rem;
    margin-top: 2.2rem;
    border: 2px solid gray;
    /* border-style: inset; */
    /* box-shadow: 0 4px 8px 0 rgb(214, 171, 171), 0 6px 20px 0 rgb(206, 176, 176); */
    background-color: #dc3c4d    ;
    color: white;
   }
 
   #title button:hover{
    box-shadow: 0 4px 8px 0 white, 0 6px 20px 0 white;
   }
.title-text{
      margin-top: 16rem;
      padding-top: 20rem;
       margin-left: auto;
       margin-right:7rem;
       width: 74rem;

       /* border:2px solid red; */
       display: inline-block;
   }


   
@media only screen and (max-width: 998px) {

     html{
         font-size: 55%;
     }
         #title{
             display: block;
            justify-content: center;
             text-align: center;
             width: fit-content;
            
         }

         .title-img{
             margin-top: 17rem;
        margin-left: auto;
        margin-right: auto;     
        justify-content: center;
        width: 49rem;
    display: block;    }

        .title-text{
            /* margin-top: 1rem; */
            margin-top: auto;
            margin-left: auto;
            margin-right: auto;   

            width: 53rem;
            display: inline-block;
            padding-top: 0;
           /* padding-left: 0.2rem;
           padding-right: 0.2rem; */
            /* text-align: center; */
        }

        .sign{
            font-size: 2.2rem;
        }
    
    }
    

    @media only screen and (max-width: 469px) {
        nav {
         
            padding-top: 2.3rem;
            padding-bottom: 2.3rem;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
            position: absolute;


        }

        nav .brand{
            font-size: 3.6rem;
           margin-top: 0.5rem;
        }

        .floatingNav {
          background-color: transparent;
        }

        .title-text{
            width: 40rem;
        }

        #title h1 {
            font-size: 3.6rem;
        }

        #title h2{
            font-size: 3.6rem;
        }

        .title-img{
            width: 40rem;
        }

        .sign{
            font-size: 1.4rem;
        }


    }
    @media only screen and (max-width: 322px) {
        .title-img{
            width: 30rem;

    }

    .title-text{
        width: 32rem;
    }

     
    .sign{
        font-size: 1rem;

    }

   nav .brand{
        font-size:2.9rem ;
    }

    }
    @media only screen and (max-width: 282px) {
        .title-img{
            width: 30rem;
        }
        .title-text{
            width: 23rem;
        }

         
    .sign{
        font-size: 1rem;

    }

   nav .brand{
        font-size:1.9rem ;
    }
    }

